img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 300px;
	position: relative;
	width: 200px;
	height:auto;

}

#holder {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 400px;
	top: 400px;
	position: absolute;
	margin-left: 970px;
}
#search_box {
	position: relative;
	border: 1px solid;
	border-color: black;
	width: 600px;
	height: 30px;
	margin-right: auto;
	margin-left: auto;
}
#search_box:hover {
	border: 2px solid;
}
#buttons {
	text-align: center;
	margin-top: 2px;
	padding: 2px;
	font-family: Verdana;
	color: #000000;
}
#lucky:hover , #search:hover {
	font-weight: bold;
	color: blue; 
}
#lucky {
	border: 1px solid black;
	padding: 1px;
	position: relative;
	width: px;
	height: 30px;
	text-decoration: none;
	margin-left: 2px;
	background-color: #D3D3D3;
	border-radius: 3px;
}
#search {
	border: 1px solid black;
	padding: 1px;
	position: relative;
	width: px;
	text-decoration: none;
	margin-right: 5px;
	background-color: #D3D3D3;
	border-radius: 3px;
	height: 30px;
}
a {
	text-decoration: none;
}